/* This stylesheet is used to style the public-facing components of the plugin. */

#top fieldset.search-fields {
	margin-bottom: 0;
} 
/* General Purpose Styles */

.full-width {
	width: 100%
}
.right {
	float: right !important;
}
.left {
	float: left !important;
}

.tq-form .inline-block{
	display: inline-block;
}
.tq-form .hidden {
	display: none;
}
.half {
	width: 49.9%;
}
.tq-form .half-field{
	width: 97%;
}
.tq-form .half-field-right{
	margin-left: 3%;
}
.tq-form .text-center,
.payment-result .text-center {
	text-align: center;
}
.tq-form .picker-btn {
	margin-top: 0.75em;
}
.tq-form .address-wrap {
	margin-bottom: 1em;
}
.tq-form .remove-address{
	display: inline-block;
	margin-left: 1em;
}
.tq-form {
	color: #000;	
}
.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0.5em; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 0.5em; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0.5em; 
}

.tq-form input.small {
	margin: 0;
	width: 49%;
}
.tq-form .quote-fields{
	margin-bottom: 2em;
}

form.tq-form .field {
	clear: left;
	padding: 0;
}
.calc-form .field .block-label{
	display: block;
}
.calc-form .group.field .block-label{
  display: inline-block;
  height: 3em;
  float: left;
}


.tq-form .field.inline{
    display: inline-block;
    width: 47%;
}

.pop-up {
	width: auto;
	overflow: hidden;
}
.pop-up  ul{
	list-style-type: none;
}

.calc-form .hidden,
.quote-form .hidden{
	display: none;
}


/* default map size */
.quote-form{
    border-radius: 6px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    /* padding: 1em; */
    width: 100%;
}
#map {
	height: 20em;
}
.quote-form fieldset.quote-fields.block {
	display: block;
	margin-bottom: 0;
	width: 100%;
}
.quote-form fieldset.search-fields,
.quote-form fieldset.quote-fields,
.quote-form fieldset.options-fields {
	float: left;
	width: 49%;
}
fieldset.map-ctr{
	margin-bottom: 1em;
	width: 100%;
}
.quote-form fieldset.map-ctr{
	float: right;
	width: 49%;
}
.quote-form fieldset.order-form{
	clear: none;
	display: inline-block;
	width: 49%;
}
.quote-form legend {
	font-size: 1.25em;
	display: block;
}

.quote-form.calc-form .field label{
	clear: left;	
	font-weight: bold;
}
.quote-form.calc-form .field label.radio{
	clear: none;
	font-weight: normal;
	display: inline;
	padding: 0 !important;
	text-align: left;
	width: 10em;
}
.quote-form.calc-form .field label.checkbox{
	clear: none;
	display: inline-block;
	padding: 0 !important;
}
.send-package-form-hdr{
	display: block;
	clear: both;
}
.tq-form .buttons {
	clear: both;
	text-align: center;
}

.tq-form .buttons span {
	font-weight: bold;
	padding: 2em;
}

form.tq-form .failure,
form.tq-form .success,
form.tq-form .progress {
	clear: left;
	text-align: center;
	font-weight: bold;
	padding-top: 1em;
}
form.tq-form .failure h3,
form.tq-form .success h3{
	margin-bottom: 1em;
}
form.tq-form .progress {
	font-size: 1.5em;
}

form.tq-form input[type="text"],
form.tq-form textarea
{
	background-color: #fff;
	margin-bottom: 0.25em !important;
}
form.tq-form .group,
form.tq-form .error{
  	color: #fff;
}
form.tq-form .group {
	padding: 0em;
}
form.tq-form .error {
	display: none;
	left: 105%;
	top: 100%;	
}

form.tq-form .field .icon{
	top: 100%;
	left: 95%;
}
#ui-datepicker-div.ui-datepicker{
	background-color: #fff;
	z-index: 1000 !important;
	padding: 0.25em;
  	color: #000;
  	border: solid 1px #666;	
}
.ui-datepicker-calendar a {
	color: #333;
}

form.tq-form .ideal-radio.checked.focus{
	background-position: -40px bottom;
}
form.tq-form .ideal-check.checked.focus {
	background-position: -40px 0px;
}
/* New Style by AS */
.tq-row{
	display: block;
	width: 100%;
	clear: both;
}
.tq-col48{
	width: 48%;
	float: left;
}
.clear{
	clear: both;
}
.requestform{
	max-width: 800px;
	position: relative;
	z-index: 5;
	background: #efefef;
	padding: 1em 2.5em 1em 1.5em;
	margin:0 auto; 
	border: 1px solid #cccccc;
	border-bottom: 1px solid #efefef;
}
.requestform #paypal {
	text-align: center;
    padding: 1em;
}
#quote-form.tq-form label{
	font-size: 16px;
	margin-bottom: 0em;
	padding-bottom: 0.25em;
	display: inline-block;
	text-align: left;
}
.tq-form .no-address{
	float: right;
	margin-top: 1em;
}
#quote-form.tq-form .quote-fields label {
	font-weight: normal;
	padding: 0 0 0.5em 0em;
}
.tq-row{
	padding: 5px 0;
}
.tq-form .bt-flabels__wrapper {
	text-align: left;
}
.tq-form fieldset.search-fields {
	padding-bottom: 0;
    margin-bottom: 0;
}
.tq-form textarea,
.tq-form input,
.tq-form select {
	padding: 0.5em;
	border: 1px solid #cccccc;
	width: 100%;
	min-height: 25px;
	font-size: 14px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.tq-form textarea{
	resize: vertical;
}
.tq-address-container {
	background: #dddddd;
	padding: 0.5em 1em;
}
.tq-form .payment-options{
	margin-top: 2em
}
#quote-form.tq-form legend{
	border-bottom: none;
	font-size: 20px;
	font-weight: bold;
	background: transparent;
    padding: 0.5em;
    text-align: center;
    margin: 0;
}
.tq-form .tq-payment-buttons {
	text-align: center;
}
#address-popup .tq-button,
.tq-form .tq-button,
.tq-payment-buttons button.tq-button{
	max-width: 300px;
	background: rgba(6,166,2,1) !important;
	color: #ffffff;
	border-radius: 5px;
	transition: background .3s;
	margin: 1em;
	padding: 1em 0.75em;
   
}
.tq-payment-buttons button.tq-button {
	width: 10em;
}
.tq-button:hover{

	background: rgba(6,166,2,.7) !important;
}
.tq-button:active{
	background: #059102 !important;
}
.tq-button-center{
	text-align: center;
}
/* mobile */

 /* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
	.quote-form {
		box-shadow: none;
		padding: 0 0 3em 0em;
	}

	.quote-form fieldset,
	.quote-form fieldset.order-form {
		clear: both;
		float: none;
		width: 100%;
	}

	.quote-form fieldset.search-fields, 
	.quote-form fieldset.quote-fields,
	.quote-form fieldset.options-fields{
		float: none;
		width: 100%;
	}

	.quote-form fieldset.search-fields{
		margin-bottom: 0;
	}

	.quote-form legend {
		margin: 0 0 1em 0;
	}
	.quote-form.calc-form .field label {
		clear: left;
		float: none;
		margin: 0;
		text-align: left;
		width: 100%;
	}
	.quote-fields label{
		width:auto !important;
	}

	.calc-form .field input[type=text], .calc-form .field textarea {
		/*width: 100%;*/
	}

	.quote-form.calc-form .field label.radio {
		display: inline-block;
	}

	form.tq-form .group,
	.calc-form .field {
		  padding: 0em 0em 1em 0em;
	}

	.quote-form fieldset.map-ctr {
		width: 100%;
	}

	.half {
		width: 100%;
	}

	.quote label {
		text-align: left;
	}

	.buttons span {
		padding: 1em;
	}

}

form.tq-form select option{
	background-color: #fff;
	color: #000;
}
.tq-form .add-waypoint {
		float: left;
	}

@media screen and (max-width: 800px){
	.bt-flabels__error-desc{
		top: auto !important;
		bottom: 15px;
		left: 0px !important;
		right:auto !important;
		
	}
	.tq-form textarea,
	.tq-form input{
		margin-bottom: 30px;
	}
	.tq-form .half-field-right {
		margin-left: 0;
	}
	.tq-form .half-field {
		width: 100%;
	}
}


@media screen and (max-width: 500px){
	.tq-col48{
		width: 100%;
	}
	.tq-form .no-address {
		float: left;
	}

}
button.ui-datepicker-current {
	display: none;
}

/*********************Domestic/business requst form********************/
.requestform .bt-flabels__error-desc{
    margin: 38px 0 -9px 9px;
    color: rgb(227, 134, 119) !important;
    right: 5px !important;
    top: 0px !important;
}
.requestform  .progress{background-color: transparent !important;height: auto;}
.requestform .request-contact-form h2 {
    font-size: 23px !important;
}

/*.requestform {
  height: auto;
  position: relative;
  background-color: gray; 
}*/
.spinner-div {
 cursor: wait;
    background:#ffffff url('../img/ajax-loader.gif') no-repeat center center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: 0.75;
    position: absolute;
    z-index: 10000;
    display: none;
     width: 31px;
    height: 31px;

}
.tq-row p{
	padding: 20px 15px 0px;
}
.tq-row{
	padding:0px !important;
}